/* Changing the font-size here will change all font sizes. */
body {
  background-color: #fafafa;
  color: #000080;
  font-size: 18px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin: 30px 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  line-height: 32px;
}

h4 {
  font-size: 1.12em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

a:link { color:#FFFFFF; text-decoration: none; } /* unvisited */
a:visited { color:#FFFFFF; text-decoration: none; } /* visited */
a:hover { color:#0070BC; text-decoration: underline; } /* mouse over */
a:active { color:#FFFFFF; text-decoration: underline; } /* selected */

.container {
  margin: 0 auto;
  width: 70%;
}

.story-text{
  line-height: 28px;
  margin-top: 30px;
}
